body
{
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, div#descricao, p, .divImagens
{
    text-align: center;
}

h1
{
    font-size: 25px;
}

h1, h2
{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #555555;
    color: #ffffff;
}

table
{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th
{
    background-color: #3333ff;
    color: #ffffff;
    font-weight: bold;
}

td, th
{
    border: 1px solid #000000;
    height: 50px;
}

td
{
    background-color: #ffffff;
}

td#alternColor
{
    background-color: #eeeeff;
}

img#imgDatasImportantes, img#imgFeriados, img#imgAvaliacoes
{
    width: 70%;
    margin-bottom: 20px;
}
img#grade, img#cra
{
    margin-bottom: 20px;
}

a, a:link, a:visited
{
    text-decoration: none;
    font-size: 20px;
    color: #9955ff;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
}

td#p2,.p2
{
    background-color: #ffff99;
}
td#lp2,.lp2
{
    background-color: #ffcc99;
}
td#md,.md
{
    background-color: #99ff99;
}
td#tg,.tg
{
    background-color: #ccccff;
}
td#gi,.gi
{
    background-color: #ffccff;
}
td#atg,.atg
{
    background-color: #c2c2d6;
}
.p2,.lp2,.md,.tg,.gi,.atg
{
    border-radius: 20px;
}
